<form method="post" action="{{ path('address_delete', {'id': address.id}) }}" onsubmit="return confirm('Etes vous certain(e) de vouloir supprimer cette adresse?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <button class="btn btn-border-fill btn-block">Supprimer</button>
</form>
